$primary-color: #302362;
$secondary-color: #FFC107;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Montserrat Alternates', sans-serif;
$thir-font: 'Roboto', sans-serif;
$text-color--white : #FFFFFF;
$wrapper: 1440px;
$container: 1240px;