section.about-content
    .container
        .about-history
            .about-history--content
                h3.about-content--title Our History
                p.about-content--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt massa quis bibendum ullamcorper. Integer vestibulum turpis urna, et aliquet ligula consectetur sit amet. In hac habitasse platea dictumst. Nulla efficitur risus sed commodo eleifend. Praesent et lorem vel nunc pretium egestas vitae in libero.
                button.about-content--btn learn more
            img(src="./images/img-about-content2.png", alt="").about-content--img
        .about-vision
            img(src="./images/img-about-content1.png", alt="").about-content--img
            .about-vision--content
                h3.about-content--title Vision & Values
                p.about-content--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt massa quis bibendum ullamcorper. Integer vestibulum turpis urna, et aliquet ligula consectetur sit amet. In hac habitasse platea dictumst. Nulla efficitur risus sed commodo eleifend. Praesent et lorem vel nunc pretium egestas vitae in libero.
                button.about-content--btn learn more  