section.advertise
    .container
        .advertise-div
            .advertise-content
                h3.advertise-title Build Your Skills Online, Anytime
                p.advertise-desc Want to learn and earn PDUs or CEUs on your schedule — anytime, anywhere? Or, pick up a new skill quickly like, project team leadership or agile? Browse our most popular online courses.
                p.advertise-desc Grow your knowledge and your opportunities with thought leadership, training and tools.
                button.advertise-btn View All Courses 
            img(src="./images/2.png", alt="").advertise-img
            