section.benefit
	.container
		.benefit-div
			img(src="/images/img-benifit.png", alt="").benefit-img
			.benefit-content
				h3.benefit-title For professional development report , career benefits
				p.benefit-desc You can start and finish one of these popular courses in under a day - for free! Check out the list below.. Take the course for free
				ul.benefit-list
					li.benefit-item <span>✓</span> Get unlimited access to 4,000+ of our top courses 
					li.benefit-item <span>✓</span> Explore a variety of fresh topics 
					li.benefit-item <span>✓</span> Find the right instructor for you
				button.benefit-btn Learn More  