section.blog
    .container
        h3.blog-title Read our latest blog
        p.blog-topic Learn from Industry experts, re-known thinkers and craftsman.
        .blog-list
            .blog-item
                img(src="./images/img-blog1.png", alt="").blog-img
                .blog-content
                    .blog-desc Education Organization Theme Tutorial
                    .blog-detail July 9, 2019  <span> No Comments </span> 
            .blog-item
                img(src="./images/img-blog2.png", alt="").blog-img
                .blog-content
                    .blog-desc Spark Of Genius Learn Dash LMS
                    .blog-detail July 9, 2019  <span> No Comments </span> 
            .blog-item
                img(src="./images/img-blog3.png", alt="").blog-img
                .blog-content
                    .blog-desc LMS WordPress plugin Tutorial For Beginners
                    .blog-detail July 9, 2019  <span> No Comments </span> 
            .blog-item
                img(src="./images/img-blog4.png", alt="").blog-img
                .blog-content
                    .blog-desc Tips to Succeed in an Online Course
                    .blog-detail July 9, 2019  <span> No Comments </span> 