section.courses
    .container
        h4.courses-title Grow Your Popular Courses
        p.courses-desc We learned about honesty and integrity - that the truth matters, that you don't take shortcuts or play by your own set of rules and success doesn't count unless you earn it.
        .courses-list
            .courses-item
                .courses-item--imgs
                    img(src="./images/img-courses1.png", alt="").courses-item--img
                    img(src="./images/img-courses-logo.png", alt="").courses-item--logo
                .courses-item--content    
                    h5.courses-item--brandName VAPVARUN
                    h3.courses-item--name Drawing and Painting Course for Children
                    p.courses-item--desc 3D Animation Degree and Course Information. A bachelor's degree program in animation equips students with the necessary computer.
                    .courses-item--detail
                        .courses-item--view
                            img(src="./images/img-courses-view.png", alt="").courses-item--view-icon
                            span.courses-item--view-number 0
                        .courses-item--price
                            span.courses-item--price-number $ 59
            .courses-item
                .courses-item--imgs
                    img(src="./images/img-courses2.png", alt="").courses-item--img
                    img(src="./images/img-courses-logo.png", alt="").courses-item--logo
                .courses-item--content    
                    h5.courses-item--brandName VAPVARUN
                    h3.courses-item--name Learn Bootstrap 4 Tutorial For Beginners
                    p.courses-item--desc Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing.
                    .courses-item--detail
                        .courses-item--view
                            img(src="./images/img-courses-view.png", alt="").courses-item--view-icon
                            span.courses-item--view-number 0
                        .courses-item--price
                            span.courses-item--price-number $ 59
            .courses-item
                .courses-item--imgs
                    img(src="./images/img-courses3.png", alt="").courses-item--img
                    img(src="./images/img-courses-logo.png", alt="").courses-item--logo
                .courses-item--content    
                    h5.courses-item--brandName VAPVARUN
                    h3.courses-item--name English Pronunciation for Beginners
                    p.courses-item--desc This course helps you to start your Tabla learning and playing journey, with very systematic and incremental approach of learning.
                    .courses-item--detail
                        .courses-item--view
                            img(src="./images/img-courses-view.png", alt="").courses-item--view-icon
                            span.courses-item--view-number 0
                        span.courses-item--price-number $ 59
        button.courses-btn View More