footer.footer
    .container
        .footer-content
            .footer-info
                a(href="#").footer-logo Reign Learndash
                p.footer-title SMART EDUCATION PLATFORM
                span.footer-desc We support programs that create advancement opportunities for people.
                button.footer-btn Contact Us
            .footer-contact 
                h3.footer-menu Contact Us
                p.footer-address 1408 Blocks Valley, Sydney, NSW 2060, Australia
                p.footer-email info@sitename.com
                p.footer-phone (+61) 555-1408 
                a(href="#").footer-website www.websitename.com
            .footer-link      
                h3.footer-menu Useful Links                
                a(href="").footer-item About
                a(href="").footer-item Join Us
                a(href="").footer-item Features
                a(href="").footer-item Feedback
                a(href="").footer-item Support center
                a(href="").footer-item Contact
            .footer-news 
                h3.footer-menu Latest News





