header.header-top
    a(href="#") 
        img(src="./images/img-logo.png", alt="").header-top--logo
    i.header-top--toggle.fa.fa-bars 
    ul.header-top--menu.menu-NotActive 
        i.header-top--close.fa.fa-close
        li.header-top--item
            a.header-top--link(href="./index.html") home
        li.header-top--item
            a.header-top--link(href="./about.html") about
        li.header-top--item
            a.header-top--link(href="#") portfollio
        li.header-top--item
            a.header-top--link(href="#") blog
        li.header-top--item
            a.header-top--link(href="#") services
        li.header-top--item
            a.header-top--link(href="#") team
        li.header-top--item
            a.header-top--link(href="#") contact us
        
