section.header-content
    .container
        .header-content--div
            .header-content--text
                h3.header-content--title find a perfect
                h2.header-content--topic mentor for your talent.
                p.header-content--desc choose out of 2500+ mentors. trusted by 250k users. industry </br> experts and top univesity professors.
                button.header-content--btn learn more
            img(src="./images/img-banner-header2.png", alt="").header-content--banner 

