header.header-top
    a(href="./index.html") 
        img(src="./images/img-logo.png", alt="").header-top--logo
    i.header-top--toggle.fa.fa-bars 
    ul.header-top--menu.menu-NotActive 
        i.header-top--close.fa.fa-close
        +menuItem("home", "./index.html")
        +menuItem("about", "./about.html")
        +menuItem("portfollio")
        +menuItem("blog")
        +menuItem("services")
        +menuItem("team")
        +menuItem("contact us")
        
