section.intro
    .container
        .intro-list
            .intro-item
                img(src="./images/img-intro1.png", alt="").intro-img
                .intro-content
                    h3.intro-title 20k + course
                    p.intro-desc You can start and finish one of these popular courses in underv
            .intro-item
                img(src="./images/img-intro2.png", alt="").intro-img
                .intro-content
                    h3.intro-title Expert Instructor
                    p.intro-desc You can start and finish one of these popular courses in underv
            .intro-item
                img(src="./images/img-intro3.png", alt="").intro-img
                .intro-content
                    h3.intro-title Lifetime Access
                    p.intro-desc You can start and finish one of these popular courses in underv
