section.review
    .container
        .review-blog
            .review-content
                h3.review-title Review Show Case
                p.review-info CEO eLearning Inc. Philanthropist, ex. World Bank exectutive
                .review-detail 
                    img(src="./images/img-review-dot.png", alt="").review-dot
                    span.review-desc WPLMS is “the” learning management software for future. The vision and the future is amazing.
                span.review-name Amelia Smith
                span.review-company CEO eLearning Inc
            img(src="./images/img-review.png", alt="").review-img   
            