section.teacher
    .container
        .teacher-content
            h3.teacher-title Meet the our teachers
            p.teacher-desc You can also join us to learn new skills from our teachers. Text of the printing Lorem dummy
        .teacher-list
            .teacher-item
                img(src="./images/img-teacher1.png", alt="").teacher-img
            .teacher-item
                img(src="./images/img-teacher2.png", alt="").teacher-img
            .teacher-item
                img(src="./images/img-teacher3.png", alt="").teacher-img
            .teacher-item
                img(src="./images/img-teacher4.png", alt="").teacher-img