.header-top{
    background-color: #453972;
    opacity: 0.9;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8.3rem;
    padding-right: 7.7rem;
    &--toggle{
        display: none;
        font-size: 2.5rem;
        color: $text-color--white;
        cursor: pointer;
    }
    &--close{
        z-index: 10;
        display: none;
        font-size: 3.5rem;
        padding: 2rem;
        color: $text-color--white;
        cursor: pointer;
    }
    &--menu {
        list-style-type: none;
        display: flex;
    }
    &--item {
        margin-left: 5.3rem;
        // position: relative;       
    }
    .is-active{
        &::after{
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $text-color--white;
            top: 100%;
            left: 0;
        }
    }
    &--link{
        color: $text-color--white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
    }
    @media screen and(max-width: 1439px) {
        padding-left: 5rem;
        padding-right: 5rem;
        &--item {
            margin-left: 4.5rem;     
        }
    }
    @media screen and(max-width: 1279px) {
        padding-left: 0rem;
        padding-right: 1rem;
        &--item {
            margin-left: 2.5rem;    
        }
    }

    @media screen and(max-width: 1023px) {
        flex-direction: column;
        height: unset;
        &--logo{
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
        &--item {
            margin-left: 3rem;    
        }

        &--menu {
            margin-bottom: 3rem;
        }
    }
    @media screen and(max-width: 767px) {
        flex-direction: row;
        padding-right: 2rem;
        &--menu {
            position: fixed;
            width: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            display: block;
            background:$primary-color;
            text-align: center;
            transform: translateX(0);
            z-index: 999999;
        }
        .menu-NotActive{
            transform: translateX(100%);
        }
       
        &--item{
            padding: 4rem;
            // z-index: 10;
        }
        
        &--link{
            font-size: 2rem;
            font-weight: 400;
        }
        &--logo{
            width: 70%;
        }
        &--toggle{
            display: block;
        }
        &--close{
            display: block;
            position: absolute;

        }
        .is-active{
            &::after{
                display: none;
            }
        }
    }
}