.header-content{
    height: 847px;
    background: url(../images/img-banner-header2.png) no-repeat 95% 100%,linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.9)), url(../images/img-banner-header.png)  no-repeat center center / cover;
    
    &--div{
        padding-top: 200px;
        display: flex;
    }
    &--text{
        text-transform: uppercase;
    }



    &--title{
        color: $text-color--white;
        font-size: 8.5rem;
        font-weight: 700;
        margin-top: 4rem;
        margin-bottom: 2.8rem;
    }

    &--topic{
        color: $secondary-color;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 5.3rem;
    }

    &--desc{
        color: $text-color--white;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 8.8rem;
        line-height: 22px;
        max-width: 70rem;
    }

    &--btn{
        text-transform: uppercase;
        display: block;
        width: 272px;
        height: 58px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;  
        background-color: $secondary-color;
        color: $primary-color;
        box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.44);
        border-radius: 10px;
        cursor: pointer;
    }
    @media screen and(max-width: 1439px) {
        background: url(../images/img-banner-header2.png) no-repeat 100% 100%,linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.9)), url(../images/img-banner-header.png)  no-repeat center center / cover;
        &--div{
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }
    @media screen and(max-width: 1279px) {
        background:linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.9)), url(../images/img-banner-header.png)  no-repeat center center / cover;
        height: unset;
        &--div{
            padding: 150px 0;
            display: block;
            width: 90%;
            margin: 0 auto;
        }
    }
    @media screen and(max-width: 1023px) {
        &--title{
            font-size: 6rem;
        }
        &--topic{
            font-size: 4rem;
        }
    }
    @media screen and(max-width: 767px) {
        padding-left: 1rem;
        padding-right: 1rem;
        &--div{
            padding: 100px 0;
        }
        &--title{
            font-size: 4rem;
        }
        &--topic{
            font-size: 3rem;
        }
    }
    @media screen and(max-width: 439px) {
        &--div{
            padding: 50px 0;
            text-align: center;
        }
        &--btn{
            width: unset;
            height: unset;
            display: inline-block;
            padding: 20px;
        }

        &--title{
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    
        &--topic{
            margin-bottom: 3rem;
        }
    
        &--desc{
            margin-bottom: 4rem;
        }

    }
}