.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 1.4rem; }

input, button {
  outline: none;
  font-family: "Montserrat", sans-serif; }

button {
  cursor: pointer; }

.header-top {
  background-color: #453972;
  opacity: 0.9;
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 8.3rem;
  padding-right: 7.7rem; }
  .header-top--toggle {
    display: none;
    font-size: 2.5rem;
    color: #FFFFFF;
    cursor: pointer; }
  .header-top--close {
    z-index: 10;
    display: none;
    font-size: 3.5rem;
    padding: 2rem;
    color: #FFFFFF;
    cursor: pointer; }
  .header-top--menu {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-top--item {
    margin-left: 5.3rem; }
  .header-top .is-active::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    top: 100%;
    left: 0; }
  .header-top--link {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px; }
  @media screen and (max-width: 1439px) {
    .header-top {
      padding-left: 5rem;
      padding-right: 5rem; }
      .header-top--item {
        margin-left: 4.5rem; } }
  @media screen and (max-width: 1279px) {
    .header-top {
      padding-left: 0rem;
      padding-right: 1rem; }
      .header-top--item {
        margin-left: 2.5rem; } }
  @media screen and (max-width: 1023px) {
    .header-top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: unset; }
      .header-top--logo {
        margin-bottom: 2rem;
        margin-top: 2rem; }
      .header-top--item {
        margin-left: 3rem; }
      .header-top--menu {
        margin-bottom: 3rem; } }
  @media screen and (max-width: 767px) {
    .header-top {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-right: 2rem; }
      .header-top--menu {
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        display: block;
        background: #302362;
        text-align: center;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        z-index: 999999; }
      .header-top .menu-NotActive {
        -webkit-transform: translateX(100%);
        transform: translateX(100%); }
      .header-top--item {
        padding: 4rem; }
      .header-top--link {
        font-size: 2rem;
        font-weight: 400; }
      .header-top--logo {
        width: 70%; }
      .header-top--toggle {
        display: block; }
      .header-top--close {
        display: block;
        position: absolute; }
      .header-top .is-active::after {
        display: none; } }

.header-content {
  z-index: -10;
  height: 847px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(48, 35, 98, 0.9)), to(rgba(48, 35, 98, 0.9))), url(../images/img-banner-header.png) no-repeat center center/cover;
  background: linear-gradient(to right, rgba(48, 35, 98, 0.9), rgba(48, 35, 98, 0.9)), url(../images/img-banner-header.png) no-repeat center center/cover; }
  .header-content--div {
    padding-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .header-content--text {
    text-transform: uppercase; }
  .header-content--title {
    color: #FFFFFF;
    font-size: 8.5rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 2.8rem; }
  .header-content--topic {
    color: #FFC107;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5.3rem; }
  .header-content--desc {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8.8rem;
    line-height: 22px; }
  .header-content--btn {
    text-transform: uppercase;
    display: block;
    width: 272px;
    height: 58px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: #FFC107;
    color: #302362;
    -webkit-box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.44);
    border-radius: 10px;
    cursor: pointer; }
