extends layout/layout

block vars
	-title = 'Welcome to Harbinder School'
	-bodyClass = 'home-page'

block container
	include ./blocks/header-banner
	include ./blocks/about-content
	include ./blocks/teacher
	include ./blocks/advertise
	script(src="scripts/about.js")