extends layout/layout

block vars
	-title = 'Welcome to Harbinder School'
	-bodyClass = 'home-page'

block container
	include ./blocks/header-content
	include ./blocks/intro
	include ./blocks/benefit
	include ./blocks/courses
	include ./blocks/review
	include ./blocks/teacher
	include ./blocks/advertise
	include ./blocks/blog
	script(src="scripts/index.js")
	